<script lang="ts">
	import "../app.css"

	import jwtDecode from "jwt-decode"
	import type { JwtPayload } from "jwt-decode"
	import { page, session } from "$app/stores"
	import { fetchUserProfile, createGitlabClient } from "$lib/gitlab"
	import { userProfile } from "$lib/stores"
	import { useAuth } from "$lib/auth"

	const pkceConfig = {
		client_id: $session.config.gitlabOauthClientId,
		redirect_uri: "http://localhost:3000/login/callback",
		authorization_endpoint: new URL("/oauth/authorize", $session.config.gitlabUrl).toString(),
		token_endpoint: new URL("/oauth/token", $session.config.gitlabUrl).toString(),
		requested_scopes: "api openid",
	}

	const authRoutes = {
		login: "/login",
		loginCallback: "/login/callback",
		logout: "/logout",
	}

	async function onAuthLoad(tokens: unknown) {
		if (tokens === null) {
			$userProfile = null
		} else {
			const idTokenPayload = jwtDecode<JwtPayload>((tokens as any).id_token as string)
			const gitlabUserId = idTokenPayload.sub
			const gitlabClient = await createGitlabClient($session, tokens)
			$userProfile = await fetchUserProfile(gitlabClient, gitlabUserId)
		}
	}

	const [buildLoginPath, buildLogoutPath] = useAuth({ authRoutes, onAuthLoad, pkceConfig })
</script>

<div>
	<a href="/">home</a>
	<a href="/projects">projects</a>
	{#if $userProfile === undefined}
		auth loading...
	{:else if $userProfile === null}
		<a href={buildLoginPath($page)}>login</a>
	{:else}
		<a href="/profile">profile</a>
		<a href={buildLogoutPath($page)}>logout</a>
	{/if}
</div>

<slot />
