<script lang="ts">
	import { session } from "$app/stores"
</script>

<main>
	<h1>SvelteKit-OAuth2-PKCE</h1>

	<p>session:</p>
	<pre>{JSON.stringify($session, null, 2)}</pre>
</main>

<style>
	main {
		padding: 1em;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 2rem;
		font-weight: 100;
		line-height: 1.1;
		margin: 4rem auto;
		max-width: 14rem;
	}

	p {
		max-width: 14rem;
		margin: 2rem auto;
		line-height: 1.35;
	}

	@media (min-width: 480px) {
		h1 {
			max-width: none;
		}

		p {
			max-width: none;
		}
	}
</style>
