<script lang="ts">
	import { getContext } from "svelte"
	import { browser } from "$app/env"
	import { page } from "$app/stores"
	import { userProfile } from "$lib/stores"
	import { AUTH_CONTEXT_KEY } from "$lib/constants"

	$: if (browser) {
		const { ensureAuthenticated } = getContext(AUTH_CONTEXT_KEY)
		ensureAuthenticated($page)
	}
</script>

{#if $userProfile}
	<pre>{JSON.stringify($userProfile, null, 2)}</pre>
{/if}
