<script lang="ts">
	import { browser } from "$app/env"
	import { page, session } from "$app/stores"
	import { AUTH_CONTEXT_KEY } from "$lib/constants"
	import { createGitlabClient } from "$lib/gitlab"
	import { userProfile } from "$lib/stores"
	import { getContext } from "svelte"

	let projects: Record<string, unknown>[] = []

	async function loadProjects(userProfile, tokens) {
		const gitlabClient = await createGitlabClient($session, tokens)
		projects = (await gitlabClient.Users.projects(userProfile.username)) as Record<string, unknown>[]
	}

	$: if (browser) {
		const { ensureAuthenticated, tokens } = getContext(AUTH_CONTEXT_KEY)
		ensureAuthenticated($page)
		if ($userProfile) {
			loadProjects($userProfile, tokens)
		}
	}
</script>

<div>
	filters:
	<a href="?filter=all">all</a>
	<a href="?filter=active">active</a>
</div>

<ul>
	{#each projects as project}
		<li>{project.name}</li>
	{/each}
</ul>
